
*{
	margin:0;
	padding:0;
	box-sizing:border-box;

}
.container{
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.moviePic{
	margin:3rem;
}
.movieDetail{
	/* position:relative; */
	display:flex;
	justify-content:center;
	top:50px;
	left:100px;
	width:80%;
	text-align:center;
	font-size:1.2rem;
}







